@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lilitaone/v15/i7dPIFZ9Zz-WBtRtedDbUEY.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOiCnqEu92Fr1Mu51QrIzc.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TjARc9.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOkCnqEu92Fr1Mu52xP.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51S7ABc9.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TzBhc9.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TLBBc9.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOkCnqEu92Fr1MmgWxP.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmSU5vAw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Me5Q.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmEU9vAw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmWUlvAw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmYUtvAw.ttf)
    format("truetype");
}
body {
  color: #252525;
  background-color: #fffaf4;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
html {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
}
.logo {
  margin-left: 5rem;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -4px;
  color: #f19100;
  font-size: 58px;
}
.logoFull a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pot {
  width: 60px;
}
.vegan {
  margin: 0 36px 0 42px;
}
nav ul,
nav li {
  list-style-type: none;
  display: flex;
  padding: 16px;
}
li {
  flex-direction: column;
  align-items: center;
}
h1,
h2 {
  color: #a86002;
  font-family: "Lilita One";
  font-weight: 400;
}
p,
aside,
legend {
  color: #573600;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3 {
  color: #a86002;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.star,
.veganLeaf {
  width: 30px;
}
.star.bottom,
.veganLeaf.bottom {
  width: 50px;
}
.starsBlock {
  display: flex;
}
.Button.Header {
  margin: 0;
  text-decoration: none;
  border: none;
  background-color: #fffaf4;
  font-size: 26px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #252525;
}
.Button.Bottom {
  margin: 0;
  text-decoration: none;
  border: none;
  background-color: #fffaf4;
  font-size: 56px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #252525;
}
.Button.Header:hover,
.Button.Bottom:hover {
  color: #7a7a7a;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta {
  text-align: center;
  font-size: 48px;
  margin-bottom: 0;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cta.main {
  margin-bottom: 72px;
}
.block1,
.block2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18vh;
}
.block2 {
  flex-direction: row-reverse;
}
.block1 {
  margin-bottom: 64px;
}
.topArticle {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  gap: 1rem;
}
aside {
  line-height: 1.1;
  word-spacing: 0.1rem;
}
.articlePic {
  width: 60vh;
  border-radius: 32px;
}
.articleHeadline {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
}
.articleText {
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bannerFood {
  height: 370px;
  width: 1200px;
  border-radius: 32px;
  margin-top: 64px;
}
.bottomLeft {
  position: absolute;
  bottom: -16px;
  text-indent: 1.3em;
  font-size: 48px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.BottomBanner {
  position: relative;
  text-align: center;
  margin-bottom: 32px;
}
.bottomMenu {
  margin: 0 20px 0 20px;
  margin-bottom: 32px;
}
.veganRecipes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
footer a {
  font-size: 24px;
  font-family: "Lilita One";
  font-weight: 400;
  line-height: 24px;
  overflow-wrap: break-word;
  display: flex;
  width: 155px;
  height: 54px;
  padding: 13px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f19100;
  border: none;
  color: white;
  margin: 22px 0 10px 0;
}
footer button:hover {
  font-size: 24px;
  font-family: "Lilita One";
  font-weight: 400;
  line-height: 24px;
  overflow-wrap: break-word;
  display: flex;
  width: 155px;
  height: 54px;
  padding: 13px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f19100;
  border: none;
  color: white;
  margin: 22px 0 10px 0;
}

/* recipe selector *******************************************************************************/

.recipeList {
  display: flex;
  flex-direction: column;
  gap: 170px;
}
h1.cta {
  margin: 80px 0;
}
.recipeBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18vh;
}
.recipeBlock article {
  width: 600px;
}
.recipeBlock h2 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
}
.recipeBlock p {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}
.recipeInfo {
  font-size: 26px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.recipeInfo span {
  font-size: 14px;
}
.recipeBlock button {
  display: flex;
  width: 150px;
  height: 80px;
  padding: 22px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: #f19100;
  color: white;
  font-size: 36px;
  font-family: "Lilita One";
  font-weight: 400;
  overflow-wrap: break-word;
  text-decoration: none;
  border: none;
}

/* recipe page *******************************************************************************/
.banner.recipePage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}
.banner.recipePage article.banner,
.step {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bannerPic.recipePage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 100%;
  height: 346px;
  flex-shrink: 0;
  border-radius: 32px;
}
.recipeTitle {
  padding-top: 8px;
}
.banner.recipePage article h2,
.directions h2,
h2 {
  font-size: 40px;
  margin: 0;
}
.banner.recipePage ul {
  font-size: 24px;
}
.ingredientsContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img.recipePage {
  width: 30vw;
  height: 250px;
  border-radius: 32px;
  object-fit: cover;
}
.ingredientsContent.left {
  display: flex;
  flex-direction: column;
}
.ingredients {
  margin: 60px 0px;
}
.ingredients .left ul li {
  padding: 8px 0px;
}
article.ingredients.left {
  font-family: Roboto;
  color: #573600;
}
.stepPic {
  width: 25vw;
  height: 250px;
  border-radius: 32px;
  object-fit: cover;
}
.directions article {
  width: 25vw;
}
.directions article h3 {
  font-size: 28px;
  margin: 0.5rem 0px;
  font-weight: 600;
}
.directions article p {
  font-size: 18px;
}

.step {
  margin: 120px 0;
}
.externalLink:visited {
  color: #a86002;
}
.partnerLink {
  font-size: 1.3rem;
  font-family: Roboto;
  color: #573600;

  /* contact form *******************************************************************************/
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}
legend {
  text-transform: uppercase;
}
.inputStyle {
  border-radius: 6px;
  height: 32px;
  width: 200px;
  border: #b2b2b2 solid 1px;
}
textarea {
  border-radius: 6px;
}
.form span {
  color: #ff4343;
}
strong {
  color: #a86002;
}
.headlineContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.headlineContact h1 {
  font-size: 2.3rem;
}
.TopTextContact {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.submit {
  width: 120px;
  height: 50px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #f19100;
  color: white;
  font-family: "Lilita One";
  text-decoration: none;
  border: 1px;
  border-color: #f19100;
  border-style: solid;
  border-width: 1px;
  font-size: 1.2rem;
}
.submit:hover {
  width: 120px;
  height: 50px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #ffab2e;
  color: white;
  font-family: "Lilita One";
  text-decoration: none;
  border: none;
  font-size: 1.2rem;
}
.salutation {
  font-size: 16px;
  color: #573600;
  font-family: Roboto;
}

/* mobile version *****************************************************************************************/

@media (max-width: 768px) {
  .logo {
    margin-left: 1rem;
    font-size: 40px;
  }
  .recipeList {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  p.recipeInfo {
    font-size: 16px;
  }
  p.recipeInfo > span {
    font-size: 12px;
  }
  nav ul,
  nav li {
    flex-direction: column;
    padding: 8px;
  }
  header {
    flex-direction: column;
    gap: 16px;
  }
  .cta {
    font-size: 38px;
    margin-bottom: 25px;
  }
  .block1,
  .block2 {
    flex-direction: column;
    gap: 5vh;
  }
  .topArticle {
    width: 95%;
  }
  .articlePic {
    width: 90%;
  }
  .bannerFood {
    width: 95%;
    height: auto;
    border-radius: 12px;
  }
  .recipeBlock {
    flex-direction: column;
    gap: 4vh;
    padding: 16px;
  }
  .recipeBlock article {
    width: 100%;
  }
  .recipeBlock button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.4rem;
  }
  .banner.recipePage {
    width: 100%;
  }
  .ingredientsContent {
    flex-direction: column;
    align-items: flex-start;
  }
  .stepPic,
  .img.recipePage {
    width: 100%;
    height: auto;
  }
  .articleHeadline {
    font-size: 32px;
  }
  .bottomLeft {
    font-size: 20px;
    text-indent: 15px;
    bottom: -12px;
  }
  .recipeTitle h2 {
    font-size: 28px;
  }
  .TopTextContact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .ingredientsContent {
    flex-direction: column;
    align-items: flex-start;
  }
  .step {
    flex-direction: column;
    align-items: center;
    margin: 35px;
  }
  .stepPic {
    width: 100%;
  }
  .bannerPic.recipePage {
    height: auto;
    margin: 24px auto;
    width: 95%;
  }
  .banner.recipePage article.banner {
    flex-direction: column;
    padding: 8px;
  }
  .ingredients {
    margin: 8px;
  }
  img.recipePage {
    width: 90%;
    height: auto;
  }
  .directions {
    padding: 0 8px;
  }
  .directions article {
    width: 100%;
  }
  .partnerLink {
    padding: 8px;
  }
}
