* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  flex-grow: 1;
}
.box {
  padding: 20px;
  font-size: 50px;
  font-weight: 900;
  font-style: normal;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header,
footer {
  min-height: 60px;
}
header {
  background-color: lightgreen;
}
footer {
  background-color: lightcoral;
}
.left{
    width: 25%;
    background-color: lightsalmon;
} 
.center{
    width: 50%;
    background-color: lightseagreen;
} 
.right{
    width: 25%;
    background-color: lightyellow;
} 
